<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Site Name - <%= pageTitle %>
    </title>
</head>
<body>


<h3>Site Name</h3>
<nav>
    <div><a href="/">Home page</a></div>
    <div><a href="about">About company</a></div>
    <div><a href="contacts">contact us</a></div>
    <div><a href="staff">Our Staff</a></div>
</nav>
<hr>