<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Site Name - <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/siteStyle.css">
</head>
<body>


<h3>
    Site Name
    <img src="/img/logo.png" width="55" alt="">
</h3>
<nav>
    <div><a href="/">Home page</a></div>
    <div><a href="about">About company</a></div>
    <div><a href="contacts">contact us</a></div>
    <div><a href="staff">Our Staff</a></div>
    <br>
    <div><a href="dishes">Our Dishes</a></div>
</nav>
<hr>